.service, .service-item:nth-child(odd) {
    background-color: #f2f2f2;
}

.service-item:nth-child(even) {
    background-color: #E3E3E3;
}

.service:nth-child(even) {
    background-color: #E3E3E3;
}


.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #3A4965;
    padding: 27px;
}

.table {
    table-layout: fixed;
    width: 100%;
    max-width: 1140px;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.table-header {
    border-bottom: 12px solid #3A4965;
}

.table_caption {
    background-color: #FAFAFA;
    padding: 28px 0;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #484848;
}

.caption--smaller {
    font-size: 14px;
}

.service {
    font-size: 20px;
    line-height: 28px;
    color: #484848;
    font-weight: bold;
}

.service-item {
    vertical-align: middle;
    font-size: 16px;
    line-height: 24px;
    box-shadow: inset 0 -2px 1px 0 rgb(188 188 188 / 30%);
}

.table-row {
    box-shadow: -2px 1px 1px 0 rgba(0,0,0,0.15);
}

.price {
    padding: 23px 0;
}

.price_standard {
    background-color: #89C331;
}

.price_ultimate {
    background-color: #F04A56;
}

.price_premium {
    background-color: #20807C;
}

.price-desc_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}

.price-desc_text {
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;
    color: #fff;
    padding-bottom: 14px;
}

.price-desc_text--medium {
    font-size: 18px;
}

.price-desc_text--small {
    font-size: 14px;
    vertical-align: middle;
}

.price-btn {
    width: 147px;
    height: 44px;
    line-height: 44px;
    background-color: #414141;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    border-bottom: 4px solid #343434;
    transition: 0.5s ease-in-out;
}