body {
  background-color: #f9f9f9;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
}

button {
  border: 0;
  outline: none;
}