.wrapper {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
}

.header {
    padding-bottom: 120px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 113px;
}

.nav-logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    color: #424F57;
}

.nav-logo--large {
    font-weight: 900;
    color: #14AFCA;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu_link {
    font: normal 700 15px/20px 'Open Sans', sans-serif;
    letter-spacing: .75px;
    text-transform: uppercase;
    color: #3e4c4e;
    transition: .3s ease-in-out;
    padding: 15px 28px;
}

.nav-menu_link:hover {
    color: #14AFCA;
}

.header-content {
    background-image: url("../assets/city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 430px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0 80%);
}

.header-content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 1;
}

.header-content_title {
    font: 700 52px/75px 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.main-about {
    max-width: 990px;
    margin: 0 auto;
    text-align: center;
}

.content-title {
    font: normal 700 60px/45px 'Roboto', sans-serif;
    color: #14AFCA;
}

.content-subtitle {
    font: normal 600 18px/24px 'Open Sans', sans-serif;
    letter-spacing: .9px;
    color: #424F57;
    padding: 25px 0 35px;
}

.content-desc {
    font: 16px/30px 'Roboto', sans-serif;
    color: #424F57;
}