.btn {
    background-color: #fff;
    border: 2px solid #e7e7e7;
    color: #000;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:hover {
    background-color: #e7e7e7;
}