html, body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    margin-top: 61px;
    margin-bottom: 50px;
}

.header-logo {
    font-size: 80px;
    line-height: 94px;
}

.header-logo_link {
    text-decoration: none;
    color: #4acaff;
}

.header-logo_link--dark {
    color: #000;
}

.header-navbar {
    background-color: #35444F;
    margin-top: 38px;
}

.header-navbar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-navbar-list_item {
    border-left: 1px solid #fff;
}

.header-navbar-list_item:last-child {
    border-right: 1px solid #fff;
}

.header-navbar-list_item-link {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
    padding: 26px 32px 19px;
    box-sizing: border-box;
    display: inline-block;
}

.header-navbar-list_item-link:hover {
    background-color: #222F3A;
    transition: .7s;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 54px;
}

.main-content_aside {
    flex-grow: 1;
    margin-right: 52px;
}

.main-content_aside-nav {
    background: rgba(0, 0, 0, 0.0001);
}

.main-content_aside-nav_list {
    border: 1px solid #000;
}

.main-content_aside-nav_list-item_link {
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    text-decoration: none;
    padding: 25px 44px;
    display: block;
}

.main-content_aside-nav_list-item_link:hover {
    padding-left: 70px;
    background-color: #DBDBDB;
    color: #35444F;
    transition: .8s;
}

.main-content_text {
    width: 100%;
    max-width: 885px;
}

.main-content_description {
    width: 100%;
    max-width: 885px;
}

.main-content_description_box {
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    width: 100%;
    min-height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content_description_box:hover .main-content_description_box-img {
    transform: scale(1.1);
    transition: .7s;
}

.main-content_description_box-img {
    width: 320px;
    height: 381px;
}

.main-content_description_text {
    margin-top: 37px;
}

.main-content_description_text-info {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.text-info--indent {
    margin-top: 34px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
    min-height: 70px;
}

.footer-navbar {
    padding: 0 40px;
    flex-grow: 1;
}

.footer-navbar-list {
    display: flex;
    justify-content: space-between;
}

.footer-navbar-list_item-link {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;
}

.footer-navbar-list_item-link:hover {
    color: #3280a6;
    text-decoration: underline;
}

.footer-copyright {
    padding: 0 40px;
    flex-grow: 0;
}

.footer-copyright_text {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}