html, body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    margin: 25px auto;
    padding: 0 25px;
    max-width: 620px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar-item-link {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    text-decoration: none;
}

.main_img {
    width: 100%;
}

.main_text-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1145px;
    text-align: center;
}

.main_text-content_title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    max-width: 774px;
    width: 100%;
    text-align: left;
    margin: 49px auto;
}

.main_text-content_description {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

p + p.main_text-content_description {
    margin: 28px 0 66px;
}

.main_btn {
    width: 191px;
    height: 51px;
    border: none;
    outline: none;
    background: #FF0000;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.footer {
    margin: 72px 0 29px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.footer-copyright {
    width: 100%;
    max-width: 1070px;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}