.price-text {
    padding-right: 10px;
    font-family: Helvetica, sans-serif;
    color: #2f2323;
}

.clear {
    font-size: 9px;
    font-family: Arial, sans-serif;
    border: 1px solid;
    padding: 4px 6px;
    cursor: pointer;
    margin-left: 10px;
    vertical-align: middle;
    border-radius: 100%;
    display: inline-block;
}

.error-text {
    font-family: Helvetica, sans-serif;
    color: #b31212;
    padding-top: 10px;
}

.price-focus {
    border-color: #0eb914;
    outline-color: #0eb914;
    border-radius: 3px;
}

.price-blur {
    border: 1px solid #b31212;
    outline-color: #b31212;
    border-radius: 3px;
}