.header {
  background-color: #F9F9F9;
  min-height: 90px;
  display: flex;
  align-items: center;
  padding: 0 45px;

    &__logo-title {
      font-size: 22px;
      color: #151515;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
    }

    &__nav {
      margin: 0 auto;
    }
}

.nav {
  display: flex;
  list-style: none;
  justify-content: center;

    &__item {
      padding: 0 20px;
    }

    &__item-link {
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #151515;
      text-decoration: none;
        &--selected {
          border-bottom : #000 solid 2px
        }
    }
}