body {
    font-family: 'Days One', sans-serif;
}

.film {
    background-color: #507898;
    border-radius: 30px;
    max-width: 700px;
    margin: 15px auto;
    padding: 20px 30px;
    box-sizing: border-box;
}

.film-episode, .film-desc {
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}

.film-title {
    color: #FFE807;
    line-height: 46px;
    font-size: 30px;
}

.film-characters {
    color: #90d0df;
    font-size: 18px;
    line-height: 26px;
}