.page {
    background-color: #000;
    overflow:  hidden;
}

.page-audio {
    padding: 10px;
    max-width: 300px;
    text-align: center;
}

.page-audio_title {
    color: #fff;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
    padding-bottom: 15px;
}

.audio:focus {
    outline: none;
    border: 0;
}

.wrapper {
    height: 100vh;
    transform: perspective(200px) rotateX(30deg);
}

.backout {
    background-image: linear-gradient(0deg, transparent, black 75%);
    position: absolute;
    width: 100%;
    min-height: 45vh;
    top: 100px;
    z-index: 1;
}

.scroll-container {
    max-width: 40%;
    margin: 0 auto;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: 700;
    letter-spacing: 6px;
    font-size: 300%;
    animation: crawl 30s linear infinite;
}

.header {
    text-align: center;
}

.header-title {
    padding: 30px 0;
}

.content-text {
    padding-bottom: 29px;
}

@keyframes crawl {
    0% {
        transform: translateY(100%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}